// variable color
$color-black-0: #000; // default
$color-black-1: #181616;
$color-white-0: #fff; //default
$color-white-1: #f7f8fd;
$color-blue-0: #788ddf;
$color-blue-1: #95c4fc;
$color-blue-2: #5772C9;
$color-blue-3: #0073B0;
$color-blue-4: #1DA1F2;
$color-blue-5: #4267B2;
$color-gray-0: #cbcfd6;
$color-gray-1: #e0e3f3;
$color-gray-2: #f6f6f7;
$color-banner: #F5F6FB;
$color-box-shadow-gray: rgba(165, 168, 183, 0.5);
$color-box-shadow-blue: rgba(120, 141, 223, 0.51);

// variable font-size
$fs-0: 15px; //default
$fs-1: 13px;
$fs-2: 20px;
$fs-3: 24px;
$fs-4: 40px;

// variable letter-spacing
$lsp-0: 0.1px; //default
$lsp-1: 0.4px;
$lsp-2: 0.6px;
$lsp-3: 0.5px;


//variable border-radius
$border-radius-1: 25px;


//variable line-height
$line-height-0: 1.5; //default


//variable font-weight
$fw-normal: normal;
$fw-bold-0: 500;
$fw-bold-1: 800;
$fw-bold: bold;


// variable responsive design
$screen-xs: 500px; // Extra small devices
$screen-sm: 576px; // Small devices
$screen-md: 768px; // Medium devices
$screen-lg: 992px; // Large devices
$screen-xl: 1200px; // Extra large devices