.centerMode{
    padding: 85px 0 125px;
    text-align: center;
    width: 100%;
    // Image
    .centerMode__img{
        position: relative;
        width: 31%;
        margin: 0 auto;
        @include xl{
            width: 37%;
        }
        @include lg{
            width: 50%;
        }
        @include md{
            width: 68%;
        }
        @include sm{
            width: 70%;
        }
        .item{
            margin: 30px 0;
            height: 110px;
            width: 116px;
            @include sm{
                width: 105px;
            }
            img{
                border-radius: 50%;
                border: 3px solid $color-white-0;
                transition: all .3s ease;
            }
            &:focus{
                outline: none;
            }
        }
        .slick-center{
            img{
                transform: scale(1.6);
                @include sm{
                    transform: scale(1.4);
                }
            }
        }
        .slick-arrow{
            top: 45%;
            position: absolute;
            cursor: pointer;
        }
        .prevArrow{
            left: -10%;
        }
        .nextArrow{
            right: -7.5%;
        }
    }

    // Text
    .centerMode__text{
        width: 75%;
        margin: 0 auto;
        .text__content{
            h1{
                @include text ($color-black-0, $fs-4, $fw-bold, $lsp-1);
                margin-top: 45px;
            }
            p{
                margin: 30px 0 40px;
            }
            &:focus{
                outline: none;
            }
        }
        .slick-dots{
            text-align: center;
            position: absolute;
            @include lg{
                top: 90%;
            }
            @include md{
                top: 100%;
                text-align: center;
            }
            li{
                button{
                border: 1px solid $color-gray-0;
                border-radius: 50%;
                width: 13px;
                height: 13px;
                &::before{
                    content: "";
                }
                }
            }
            .slick-active{
                button{
                    background-color: $color-gray-0; 
                }
            }
        }
    }
}